<component name="libraryTable">
  <library name="spring-tx-4.2.4.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/web/WEB-INFO/lib/spring-tx-4.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INFO/lib/spring-jdbc-4.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INFO/lib/spring-core-4.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INFO/lib/mysql-connector-java-5.1.18-bin.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INFO/lib/spring-beans-4.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INFO/lib/jstl-impl.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INFO/lib/javax.servlet.jsp.jstl.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INFO/lib/druid-1.0.9.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INFO/lib/commons-logging-1.1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INFO/lib/commons-beanutils-1.8.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INFO/lib/c3p0-0.9.1.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>